* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: "Source Sans Pro";
  --city: "Source Serif Pro";
  --textColor: #f8f8ff;
}

h1 {
  font-family: var(--city);
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
p,
h2 {
  font-family: var(--text);
  font-size: 20px;
  color: var(--white);
}
body {
  background-image: url("purple-sky-anime-city-jfyl3kuulzsbh0oa.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--textColor);
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  text-align: center;
  height: 25px;
  border-radius: 5px;
  background: transparent;
  color: var(--text);
  font-family: var(--text);
  font-size: 16px;
}
input:focus {
  outline: none;
  color: white;
}
::placeholder {
  color: white;
  opacity: 0.5;
}

.cityenter {
  border: 2px solid var(--textColor);
  border-radius: 5px;
}
.weather {
  height: 40px;
  cursor: pointer;
}
.response {
  display: none;
  transition: 5s ease;
}
.wrong {
  display: none;
}
i {
  font-size: 38px;
}

.empty {
  display: none;
}
.none {
  display: none;
  margin: 0 5px;
}
.icon-container {
  display: flex;
  justify-content: center;
}
